In [136]:
import pandas as pd

In [137]:
df_data_ws = pd.read_csv('/Users/Jaimecalderon/Desktop/IRONHACK/Proyectos/Proyecto final/Videojuegos/vg_data.csv')

In [138]:
df_data_ws

,Unnamed: 0,Title,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update,Genre
0,0,God of War,Series,Sony Interactive Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,76.55m,NaN,NaN,NaN,NaN,NaN,22nd Mar 05,04th Mar 20,Action
1,1,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,50.45m,NaN,NaN,NaN,NaN,NaN,30th Jun 97,24th Mar 20,Action
2,2,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,32.00m,NaN,NaN,NaN,NaN,NaN,16th Oct 01,03rd Feb 20,Action
3,3,God of War (2018),All,Sony Interactive Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,23.52m,NaN,NaN,NaN,NaN,NaN,20th Apr 18,23rd Nov 22,Action
4,4,Dynasty Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,21.28m,NaN,NaN,NaN,NaN,NaN,30th Jun 97,24th Mar 20,Action
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55995,55995,The Perfect General II,PC,American Laser Games,Quantum Quality Productions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01st Jan 94,NaN,Strategy
55996,55996,The Political Machine,PC,Ubisoft,Stardock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12th Aug 04,NaN,Strategy
55997,55997,The Settlers III: Quest of the Amazons,PC,Blue Byte,Blue Byte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20th Dec 98,NaN,Strategy
55998,55998,The Settlers: Rise of an Empire Gold Edition,PC,Ubisoft,Blue Byte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22nd Sep 08,NaN,Strategy
55999,55999,The Third World War,SCD,Extreme Entertainment Group,Micronet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01st Jan 94,NaN,Strategy

In [139]:
df_data_ws.isna().sum()

Unnamed: 0            0
Title                 0
Console               0
Publisher             0
Developer            15
VGChartz Score    54266
Critic Score      49388
User Score        55658
Total Shipped     51656
Total Sales       37511
NA Sales          43520
PAL Sales         43317
Japan Sales       49563
Other Sales       41057
Release Date       3903
Last Update       45206
Genre                 0
dtype: int64

In [140]:
df_data_ws.rename(columns={'Title' : 'game_name'},inplace=True)

In [141]:
df_consolidado = df_data_ws.groupby('game_name').agg({
    'NA Sales': 'sum',
    'Japan Sales': 'sum',
    'Other Sales': 'sum',
    'Total Sales': 'sum'
}).reset_index()

In [142]:
df_clean_final = pd.read_csv('/Users/Jaimecalderon/Desktop/IRONHACK/Proyectos/Proyecto final/Videojuegos/df_clean_final.csv')

In [143]:
df_clean_final

,Unnamed: 0,game_id,game_name,released,tba,age rating,genre,subgenre,owned,numero_plataformas,rating_top,ratings_count,added,metacritic,suggestions_count,numero_stores
0,0,3498,Grand Theft Auto V,2013-09-17,False,Mature,Action,no,12151.0,7,5,6855,21102,92.0,434,5
1,1,3328,The Witcher 3: Wild Hunt,2015-05-18,False,Mature,Action,RPG,12003.0,7,5,6598,20584,92.0,677,5
2,2,5679,The Elder Scrolls V: Skyrim,2011-11-11,False,Mature,Action,RPG,9518.0,8,5,4632,15889,94.0,602,4
3,3,32,Destiny 2,2017-09-06,False,Teen,Shooter,Action,10456.0,6,4,2594,13771,82.0,1230,4
4,4,3070,Fallout 4,2015-11-09,False,Mature,Action,RPG,8543.0,4,4,3273,13480,84.0,460,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,1100,795323,Dead by Daylight - Hellraiser,2021-09-07,False,Mature,Action,no,472.0,6,0,0,0,0.0,394,2
975,1101,812169,SENSEs: Midnight,2022-07-22,False,Teen,Adventure,no,472.0,7,0,0,0,0.0,371,4
976,1103,795327,Dead by Daylight - Spark of Madness,2017-05-11,False,Mature,Adventure,Action,472.0,6,0,0,0,0.0,384,1
977,1104,887670,Pre-purchase Romancing SaGa - Minstrel Song- R...,2022-12-01,False,Mature,RPG,no,472.0,4,0,0,0,0.0,162,2
978,1106,968275,Neo Breakout,2022-11-11,False,Mature,Arcade,no,472.0,3,0,0,0,0.0,0,0

In [144]:
df_consolidado

,game_name,NA Sales,Japan Sales,Other Sales,Total Sales
0,"""Nuke It""",0,0,0,0
1,#BLUD,0,0,0,0
2,#IDARB,0,0,0,0
3,#killallzombies,0,0,0,0
4,'70s Robot Anime: Geppy-X,0,0,0,0
...,...,...,...,...,...
36435,xFart,0,0,0,0
36436,yOm,0,0,0,0
36437,yOm_fury,0,0,0,0
36438,¡Shin Chan Flipa en colores!,0,0.14m,0,0.14m
36439,レミロア~少女と異世界と魔導書,0,0,0,0

In [145]:
df_consolidado[df_consolidado['Japan Sales'] != 0]

,game_name,NA Sales,Japan Sales,Other Sales,Total Sales
5,'98 Koshien,0.15m,0.12m,0.03m,0.41m
14,.hack//G.U. Last Recode,0.10m,0.08m,0.03m,0.24m
17,.hack//G.U. Vol.2//Reminisce (jp sales),0,0.16m,0,0.16m
18,.hack//G.U. Vol.3//Redemption,0,0.17m,0,0.17m
19,.hack//Infection Part 1,0.49m,0.26m,0.13m,1.27m
...,...,...,...,...,...
36358,htoL #NiQ: Hotaru no Nikki,0,0.01m,0,0.01m
36372,inFAMOUS 2,1.05m,0.08m,0.26m,1.87m
36410,rain,0,0.05m,0,0.05m
36424,theta,0,0.01m,0,0.01m
36438,¡Shin Chan Flipa en colores!,0,0.14m,0,0.14m

In [146]:
df1 = df_clean_final
df2 = df_consolidado
df1.columns = df1.columns.str.strip()
df2.columns = df2.columns.str.strip()


sales_columns = ['NA Sales', 'Japan Sales', 'Other Sales', 'Total Sales']

for col in sales_columns:
    df2[col] = pd.to_numeric(df2[col].str.replace(r'[^\d.]', '', regex=True), errors='coerce')

df_merged = pd.merge(df1, df2, on='game_name', how='left')
df_merged

,Unnamed: 0,game_id,game_name,released,tba,age rating,genre,subgenre,owned,numero_plataformas,rating_top,ratings_count,added,metacritic,suggestions_count,numero_stores,NA Sales,Japan Sales,Other Sales,Total Sales
0,0,3498,Grand Theft Auto V,2013-09-17,False,Mature,Action,no,12151.0,7,5,6855,21102,92.0,434,5,NaN,NaN,NaN,NaN
1,1,3328,The Witcher 3: Wild Hunt,2015-05-18,False,Mature,Action,RPG,12003.0,7,5,6598,20584,92.0,677,5,NaN,NaN,NaN,NaN
2,2,5679,The Elder Scrolls V: Skyrim,2011-11-11,False,Mature,Action,RPG,9518.0,8,5,4632,15889,94.0,602,4,NaN,NaN,NaN,NaN
3,3,32,Destiny 2,2017-09-06,False,Teen,Shooter,Action,10456.0,6,4,2594,13771,82.0,1230,4,NaN,0.1,NaN,NaN
4,4,3070,Fallout 4,2015-11-09,False,Mature,Action,RPG,8543.0,4,4,3273,13480,84.0,460,3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,1100,795323,Dead by Daylight - Hellraiser,2021-09-07,False,Mature,Action,no,472.0,6,0,0,0,0.0,394,2,NaN,NaN,NaN,NaN
975,1101,812169,SENSEs: Midnight,2022-07-22,False,Teen,Adventure,no,472.0,7,0,0,0,0.0,371,4,NaN,NaN,NaN,NaN
976,1103,795327,Dead by Daylight - Spark of Madness,2017-05-11,False,Mature,Adventure,Action,472.0,6,0,0,0,0.0,384,1,NaN,NaN,NaN,NaN
977,1104,887670,Pre-purchase Romancing SaGa - Minstrel Song- R...,2022-12-01,False,Mature,RPG,no,472.0,4,0,0,0,0.0,162,2,NaN,NaN,NaN,NaN
978,1106,968275,Neo Breakout,2022-11-11,False,Mature,Arcade,no,472.0,3,0,0,0,0.0,0,0,NaN,NaN,NaN,NaN

In [147]:
df_merged=df_merged.dropna()

In [148]:
df_merged

,Unnamed: 0,game_id,game_name,released,tba,age rating,genre,subgenre,owned,numero_plataformas,rating_top,ratings_count,added,metacritic,suggestions_count,numero_stores,NA Sales,Japan Sales,Other Sales,Total Sales
309,313,59227,Fist of The North Star: Lost Paradise,2018-03-08,False,Mature,Adventure,Action,258.0,2,4,43,358,72.0,407,1,0.09,0.18,0.03,0.36
428,434,5343,Syphon Filter 2,2000-02-29,False,Mature,Shooter,Action,51.0,3,4,69,185,0.0,327,1,1.50,0.02,0.08,2.15
477,485,52670,Ape Escape,1999-05-31,False,Everyone,Platformer,no,60.0,3,4,40,149,90.0,362,1,0.71,0.32,0.11,1.63
790,845,5500,Hot Shots Golf 2,1999-07-29,False,Everyone,Simulation,Sports,7.0,3,5,7,14,0.0,141,1,0.25,1.48,0.03,1.88

In [149]:
df_data_ws_2 = pd.read_csv('/Users/Jaimecalderon/Desktop/IRONHACK/Proyectos/Proyecto final/Videojuegos/vgsales 2.csv')

In [150]:
df_data_ws_2

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [151]:
df_data_ws_2.rename(columns={'Name' : 'game_name'},inplace=True)

In [152]:
df_data_ws_2

,Rank,game_name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [153]:
df_consolidado_2 = df_data_ws_2.groupby('game_name').agg({
    'NA_Sales': 'sum',
    'EU_Sales' : 'sum',
    'JP_Sales': 'sum',
    'Other_Sales': 'sum',
    'Global_Sales': 'sum'
}).reset_index()

In [154]:
df_consolidado_2.dtypes

game_name        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [155]:
df1 = df_clean_final
df2 = df_consolidado_2
df1.columns = df1.columns.str.strip()
df2.columns = df2.columns.str.strip()



df_merged_2 = pd.merge(df1, df2, on='game_name', how='left')
df_merged_2

,Unnamed: 0,game_id,game_name,released,tba,age rating,genre,subgenre,owned,numero_plataformas,...,ratings_count,added,metacritic,suggestions_count,numero_stores,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,0,3498,Grand Theft Auto V,2013-09-17,False,Mature,Action,no,12151.0,7,...,6855,21102,92.0,434,5,23.46,23.04,1.39,8.03,55.92
1,1,3328,The Witcher 3: Wild Hunt,2015-05-18,False,Mature,Action,RPG,12003.0,7,...,6598,20584,92.0,677,5,1.82,2.89,0.21,0.72,5.64
2,2,5679,The Elder Scrolls V: Skyrim,2011-11-11,False,Mature,Action,RPG,9518.0,8,...,4632,15889,94.0,602,4,8.73,7.66,0.35,2.54,19.28
3,3,32,Destiny 2,2017-09-06,False,Teen,Shooter,Action,10456.0,6,...,2594,13771,82.0,1230,4,NaN,NaN,NaN,NaN,NaN
4,4,3070,Fallout 4,2015-11-09,False,Mature,Action,RPG,8543.0,4,...,3273,13480,84.0,460,3,5.42,5.04,0.25,1.57,12.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,1100,795323,Dead by Daylight - Hellraiser,2021-09-07,False,Mature,Action,no,472.0,6,...,0,0,0.0,394,2,NaN,NaN,NaN,NaN,NaN
975,1101,812169,SENSEs: Midnight,2022-07-22,False,Teen,Adventure,no,472.0,7,...,0,0,0.0,371,4,NaN,NaN,NaN,NaN,NaN
976,1103,795327,Dead by Daylight - Spark of Madness,2017-05-11,False,Mature,Adventure,Action,472.0,6,...,0,0,0.0,384,1,NaN,NaN,NaN,NaN,NaN
977,1104,887670,Pre-purchase Romancing SaGa - Minstrel Song- R...,2022-12-01,False,Mature,RPG,no,472.0,4,...,0,0,0.0,162,2,NaN,NaN,NaN,NaN,NaN
978,1106,968275,Neo Breakout,2022-11-11,False,Mature,Arcade,no,472.0,3,...,0,0,0.0,0,0,NaN,NaN,NaN,NaN,NaN

In [156]:
df_merged_2.isna().sum()

Unnamed: 0              0
game_id                 0
game_name               0
released                0
tba                     0
age rating              0
genre                   0
subgenre                0
owned                   0
numero_plataformas      0
rating_top              0
ratings_count           0
added                   0
metacritic              0
suggestions_count       0
numero_stores           0
NA_Sales              951
EU_Sales              951
JP_Sales              951
Other_Sales           951
Global_Sales          951
dtype: int64

In [157]:
df_merged_2 = df_merged_2.dropna()

In [158]:
df_merged_2.drop(columns='Unnamed: 0',inplace=True)

/var/folders/zc/6rc7nzhj13scy5qssxw2pjlh0000gn/T/ipykernel_1370/3729288710.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged_2.drop(columns='Unnamed: 0',inplace=True)

In [159]:
df_merged_2.reset_index(drop = True, inplace = True)

In [160]:
df_merged_2.to_csv('df_merged_sales_clean.csv',index=False)